{% extends 'base.html.twig' %}

{% block title %}Charts{% endblock %}

{% block body %}
<div class="row">
	{% for chart in charts %}
	<div class="col-xs-12 col-md-6 col-lg-6">
		{{ chart.title }}
		<canvas id="{{ chart.uuid }}"></canvas>
		<script>
			var ctx = document.getElementById('{{ chart.uuid }}').getContext('2d');
			var chart = new Chart(ctx, {
				// The type of chart we want to create
				type: 'line',

				// The data for our dataset
				data: {
					labels: {{ chart.labels|json_encode|raw }},
					datasets: [
						{% for dataset in chart.dataset %}
						{
						label: '{{ dataset.label }}',
						backgroundColor: '{{ dataset.backgroundColor }}',
						borderColor: '{{ dataset.color }}',
						data: {{ dataset.data|json_encode|raw }}
					},
						{% endfor %}
						]
				},

				// Configuration options go here
				options: {}
			});
		</script>
	</div>
	{% else %}
		<p>Actually, there are not charts</p>
	{% endfor %}
</div>
{% endblock %}
